<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
 
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
 
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

 <div class="row">
 <div class="media-left">
 <% if post?(@post) %>
 <h2><%="#{@user.name} has not submitted any posts yet"%></h2>
 <% else %>
 <h2>Posts</h2>
 <%= render @user.posts %>
 
  
 <% end %>
 <% if comment?(@comment) %>
 <h2><%="#{@user.name} has not submitted any comments yet"%></h2>
 <% else %>
 <h2>Comments</h2>
 <%= render @user.comments %>
 <% end %>
</div>
</div>


<div class="row">
<div class="col-md">
  <div class="pull-right">
    <h2>Comments</h2>
 <%= render @user.favorites %>
 <%end%>
  <small>
    <%= pluralize(@user.favorites.count, 'favorite') %>,
    <%= pluralize(@user.votes.count, 'vote') %>
         </small>
       </div>
  </div>
</div>

 









